extends layout

block content
    body
        h1= message
        hr
        form(role='form', action='/signup',method='post', style='max-width: 300px;')
            .form-group
                input(type='text', name='username', placeholder='Enter Username')
            .form-group
                input(type='password', name='password', placeholder='Password')
            .form-group
                input(type='email', name="email", placeholder='Email')
            button.btn.btn-defau(type='submit') Submit
            a(href='/')
                button.btn.btn-primary.pull-right(type="button") Cancel
